<!DOCTYPE html>
<html>
    <head>
        <title>Kontakt Zeigen</title>
    </head>
    <body>
        Vorname: <%=vorname%> <br>
        Nachname:<%=nachname%> <br>

        <a href="/kontakteingeben">Weiter</a>
    </body>
</html>